<nav class="bg-blue-400 p-4">
  <div class="flex items-center justify-between">
    <!-- Logo izquierda -->
    <div class="flex items-center">
      <img
        src="/assets/images/logo-tajamar.webp"
        alt="Logo Tajamar"
        class="h-10 w-auto"
      />
    </div>

    <!-- Home centro -->
    <div class="flex justify-center">
      <div class="flex-1 flex">
        <a
          routerLink="/home"
          routerLinkActive="bg-blue-500 font-bold"
          [routerLinkActiveOptions]="{ exact: true }"
          class="text-black no-underline px-4 py-2 rounded transition-colors duration-300 hover:bg-blue-300 cursor-pointer"
        >
          Home
        </a>
      </div>
      <div class="flex-1 flex">
        <a
          routerLink="/eventos"
          routerLinkActive="bg-blue-500 font-bold"
          [routerLinkActiveOptions]="{ exact: true }"
          class="text-black no-underline px-4 py-2 rounded transition-colors duration-300 hover:bg-blue-300 cursor-pointer"
        >
          Eventos
        </a>
      </div>
      <div class="flex-1 flex">
        <a
          routerLink="/equipos"
          routerLinkActive="bg-blue-500 font-bold"
          [routerLinkActiveOptions]="{ exact: true }"
          class="text-black no-underline px-4 py-2 rounded transition-colors duration-300 hover:bg-blue-300 cursor-pointer"
        >
          Equipos
        </a>
      </div>
      <div class="flex-1 flex items-center justify-center">
        <a
          routerLink="/materiales"
          routerLinkActive="bg-blue-500 font-bold"
          [routerLinkActiveOptions]="{ exact: true }"
          class="text-black no-underline px-4 py-2 rounded transition-colors duration-300 hover:bg-blue-300 cursor-pointer flex items-center gap-2"
        >
          <i class="fas fa-bell"></i>Materiales
        </a>
      </div>
      <div class="flex-1 flex items-center justify-center">
        <a
          routerLink="/aulas"
          routerLinkActive="bg-blue-500 font-bold"
          [routerLinkActiveOptions]="{ exact: true }"
          class="text-black no-underline px-4 py-2 rounded transition-colors duration-300 hover:bg-blue-300 cursor-pointer flex items-center gap-2"
        >
          Aulas
        </a>
      </div>
    </div>

    <!-- Perfil + Logout derecha -->
    <div class="flex items-center gap-2">
      @if (roleId() === 3 || roleId() === 4) {
      <a
        routerLink="/organizador"
        routerLinkActive="bg-blue-500 font-bold"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-black no-underline px-4 py-2 rounded transition-colors duration-300 hover:bg-blue-300 cursor-pointer"
      >
        Panel de Organizador
      </a>
      }
      <a
        routerLink="/perfil"
        routerLinkActive="bg-blue-500 font-bold"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-black no-underline px-4 py-2 rounded transition-colors duration-300 hover:bg-blue-300 cursor-pointer"
      >
        Perfil
      </a>

      @if (authService.authStatus() === 'authenticated') {
      <button
        type="button"
        (click)="logout()"
        class="text-black px-4 py-2 rounded transition-colors duration-300 hover:bg-blue-300 cursor-pointer"
      >
        Cerrar sesión
      </button>
      }
    </div>
  </div>
</nav>
